<div class="row">
  <div class="small-12" style="float: right;">
    <a class="btn btn-link" style="width: 330px; font-size: 18px; margin-top: 20px;" href="<%= Rails.application.routes.url_helpers.sign_out_path%>">Sign out</a>
  </div>
</div>
<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
  <div class="well"> 
  <div class="well" style="display: inline-block; margin-right: 10px; margin-left: 10px; background-color: #dad4d4;">
        <img class="img-thumbnail" src="<%= @user[:profile_picture]%>"><br/></div>
    <div style="display: inline-block; position: fixed; padding-top: 13px;">
      <h3 style="color: #5781a7;"><i>Hi <%= @user[:username] %>!</i></h3>
      <p><i style="font-size: 18px;">Name: <%= @user[:full_name] %></i></p>
      <p><i style="font-size: 18px;">Handle: <%= @user[:username] %></i></p>
       <p><i style="font-size: 18px;">Bio: <%= @user[:bio] %></i></p>
      <a class="btn btn-block btn-info" style="width: 330px;" href="<%= Rails.application.routes.url_helpers.recent_images_path(access_token: @access_token) %>"><i class="fa fa-instagram"></i>Go to My Images</a>
    </div>
  </div>
</div>



