 
  <script type="text/javascript">
  function openModal(element) {

    document.getElementsByClassName('enlargeImageModalSource')[0].setAttribute('src', element);
    document.getElementById('enlargeImageModal').setAttribute('class', 'modal show');
  }

  function closeModal() {
    document.getElementById('enlargeImageModal').setAttribute('class', 'modal hide');
  }
  </script>
<div class="row">
  <div class="small-12" style="float: right;">
    <a class="btn btn-link" style="width: 330px; font-size: 18px; margin-top: 20px" href="<%= Rails.application.routes.url_helpers.sign_out_path%>">Sign out</a>
  </div>
</div>

 <div class="modal hide" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true" style="left: 50%; width: 40%">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="background-color: black;">
        <div class="modal-header" style="border-color: black;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="javascript:closeModal()"><span aria-hidden="true" style="color: white;">×</span></button>
        </div>
        <div class="modal-body" style="margin-left: 30px !important">
          <img src="" class="enlargeImageModalSource" style="max-height: 400px !important; max-width: 70%; display: block;margin-left: auto; margin-right: auto; ">
        </div>
        <div class="modal-header" style="border-color: black;"></div>
      </div>
    </div>
</div>
<div class="container">
  <br/><br/>
    <div class="well">
      <center><h3 style="color: #584e4e;"><%= @user.username %>'s recent media</h3></center>
      <% @media_items. each do |media_item| %>
      <div class="well" style="display: inline-block; margin-right: 10px; margin-left: 10px; background-color: #dad4d4;">
        <img class="img-thumbnail" src="<%= media_item.images.thumbnail.url%>" onClick="javascript:openModal('<%= media_item['images']['standard_resolution']['url']%>')"><br/>
        <h7 style=""> <i>Likes:</i> <b><%= media_item.likes[:count]%></b></h7>
      </div>
      <% end %>
    </div>    
</div>
  