<div class="container">
  <br/><br/><br/><br/><br/><br/><br/>
    <div class="well">
      <center><h1 style="color: #584e4e;">Show My Image!</h1></center>
      <center><a class="btn btn-block btn-info" style="width: 330px;" href="<%= Instagram.authorize_url(:redirect_uri => Settings.show_my_image.callback_url) %>"><i class="fa fa-instagram"></i>Sign in with Instagram</a></center>
    </div>
</div>

